
body {
    margin:auto;
    width: 960px;
}
.Name {
    float:left;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    height: 50px;
    width: 100px;
    text-align: center;
    padding: 20px 20px 0px 20px;
    border: #cccccc;
}

nav {
    float: right;
    text-align: center;
}

.Space {
    background-color: #dddddd;
    clear: both;
    position: relative;
    box-sizing: border-box; 
    top: 96px;
    width: 960px;
}
